body {
    box-sizing: border-box;
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,Helvetica,Arial,sans-serif;
    color: #333;
    margin: 0;
    background-color: #fff
}

header,#main,footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

h1,h2,h3,h4,h5 {
    font-weight: 400
}

a,a:link,a:active {
    color: #80bd01;
    text-decoration: none;
    border-radius: 2px
}
.active{
    active;
}

a:hover {
    color: #fff;
    background-color: #80bd01
}

a:hover code {
    color: #cc2828
}

a.imagelink:hover {
    background-color: transparent
}

strong,b {
    font-weight: 600
}

p a {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px
}

img {
    display: block;
    max-width: 100%
}

code {
    background-color: #f2f2f2;
    font-size: 85%;
    padding: .2em
}

pre {
    background-color: #333;
    border-radius: 3px;
    padding: .75em 1.2em;
    font-size: .8em;
    white-space: pre-wrap;
}

pre code {
    color: #f0f0f0;
    background-color: inherit
}

.flexboxtweener,.flexboxtweener body {
    height: 100%
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    margin: 0
}

#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

header {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

footer {
    padding: 0 20px
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

#main .container {
    padding: 0 20px
}

.list-divider-pipe {
    margin: 0;
    padding: 0;
}

.list-divider-pipe li {
    display: inline-block;
}

.list-divider-pipe li + li:before {
    content: '|';
    padding: 0 .3em 0 .1em;
    color: #999
}

@media screen and (max-width: 480px) {
    nav .list-divider-pipe {
        margin-bottom:1rem;
        overflow: hidden;
    }

    nav .list-divider-pipe li + li:before {
        display: none
    }
}

.linuxfoundation-footer {
    width: 100%;
    padding: 1em 20px;
    font-size: 14px;
    color: #fff;
    background: #404042;
}

.linuxfoundation-footer p + p {
    margin-top: 0;
    margin-bottom: .25em
}

.linuxfoundation-logo {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 420px;
    text-indent: -9000px
}

@media screen and (max-width: 480px) {
    .linuxfoundation-logo {
        background-position:0;
        background-size: 95% 95%
    }
}

header {
    background-color: #333;
    text-align: center;
}

header > .container {
    overflow: visible
}

header li {
    position: relative
}

header nav a,header nav a:link,header nav a:active, .test {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc !important
}

header nav a:hover {
    background-color: transparent;
    text-decoration: underline
}

@media screen and (min-width: 481px) {
    header li {
        padding-bottom:12px;
    }

    header li.active:after {
        top: 100%;
        left: 50%;
        border: solid rgba(0,0,0,0);
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(3,3,0,0);
        border-top-color: #333;
        border-width: 14px;
        margin-left: -7px
    }

    header li.active:first-child:after {
        margin-left: -14px
    }

    header a,header a:link,header a:active {
        padding: 0 8px
    }
}

@media screen and (max-width: 480px) {
    header li {
        width:50%;
        float: left;
        padding: 0;
        margin: 0
    }

    header a,header a:link,header a:active {
        padding: 0
    }
}

#logo {
    display: block;
    border: none;
}

#logo:hover {
    background-color: transparent;
    text-decoration: underline
}

#logo img {
    display: block;
    margin: .5em auto 1em auto;
    border: none
}

footer {
    margin-top: 2em;
    background-color: #333;
    padding: 0 0;
}

footer a,footer a:link,footer a:active {
    color: #ccc
}

footer a:hover {
    background-color: transparent;
    text-decoration: underline
}
.shadow{
  -moz-box-shadow: 3px 3px 4px 5px #ccc;
  -webkit-box-shadow: 3px 3px 4px 5px #ccc;
  box-shadow: 3px 3px 4px 5px #ccc
}
.footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    margin: 1em 0;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li:first-child {
    font-weight: bold
}

.home-version {
    padding-top: 10px;
    font-size: 16px;
    color: #666
}

.home-version-banner {
    color: #333;
    font-size: 130%;
    background-color: #f1fbda;
    padding: 5px 15px;
    border-radius: 2px;
    margin-top: 1em
}

.home-secondary-links a {
    font-size: 1rem;
    color: #66724c;
}

.home-secondary-links a:hover {
    background-color: transparent;
    border-bottom: 1px solid #66724c
}

#home-intro {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center
}

#home-downloadbutton {
    display: inline-block;
    margin: 10px 4px;
    padding: .2em .6em;
    background-color: #80bd01;
    color: #fff;
    border-radius: 2px;
    font-size: 30px;
    font-weight: 400;
    -webkit-transition: .2s background-color ease-in-out;
    transition: .2s background-color ease-in-out;
}

#home-downloadbutton:hover {
    background-color: #7aab13
}

.search-button {
   margin-right: 5px;

}

.search-button-div {
  margin-top: 10px;
   margin-right: 10px;
   margin-left: 10px;
}

.blog-index time {
    margin-right: 1em;
    color: #999
}

.blogpost-header {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: .5rem;
}

.blogpost-header h1 {
    margin-bottom: 0
}

.blogpost-meta {
    font-size: 1rem
}

img.memberlogo {
    display: inherit;
    vertical-align: middle;
    width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px
}

#news-container {
    margin-top: 50px;
}

#news-container .news-row {
    padding: 5px
}

.download-hero {
    display: table;
    margin-bottom: 1em;
}

.download-hero ul {
    text-align: center;
    margin: 0 auto;
    display: table-row;
}

.download-hero ul li {
    width: 33%;
    display: table-cell;
}

.download-hero ul li a {
    display: block;
    width: 100%;
    padding-top: 1em;
    background: #f1fbda;
}

.download-hero ul li a img {
    display: block;
    margin: 0 auto
}

.download-hero ul li a:hover,.download-hero ul li a:active {
    background: #666;
    color: #80bd01
}

.download-matrix {
    margin-bottom: 1.5rem;
}

.download-matrix th {
    text-align: left;
    width: 33%
}

.download-matrix td {
    border: 1px solid #c0c0c0;
}

.download-matrix td a,.download-matrix td span {
    background: none;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center
}

.download-matrix td a:hover,.download-matrix td a:active {
    background: #666;
    color: #80bd01
}

h5.download-table-previous-releases-header {
    margin-bottom: 5px
}

.download-table {
    font-size: small;
    border: 1px solid #c0c0c0;
}

.download-table td {
    padding: 5px
}

.download-table > thead {
    font-weight: 600
}

.download-table > tbody td {
    border-top: 1px solid #c0c0c0
}

.download-table > tbody tr:nth-child(odd) {
    background-color: #eee
}

.download-table > tbody tr:nth-child(even) {
    background-color: #fff
}

td.download-table-last {
    text-align: right;
}

td.download-table-last > a {
    padding: 0 10px
}

#modules-description {
    font-size: small
}

@media (max-width: 700px) {
    .download-hero ul {
        width:auto;
        display: block;
    }

    .download-hero ul li {
        display: block;
        width: 100%;
        margin-bottom: 1em
    }

    .download-matrix {
        display: block;
    }

    .download-matrix th {
        display: block;
        width: 100%
    }

    .download-matrix tr {
        display: block;
        margin-bottom: 1em
    }

    .download-matrix td {
        display: block;
        border: 0;
    }

    .download-matrix td a {
        text-align: left
    }

    .download-table {
        border: 0;
    }

    .download-table > thead {
        display: none
    }

    .download-table tr {
        margin-bottom: 10px;
        display: block
    }

    .download-table td {
        display: block;
        text-align: right
    }

    .download-table td:last-child {
        border-bottom: 0
    }

    .download-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: 600
    }

    .download-table > thead > tr > th,.download-table > tbody > tr > th,.download-table > tfoot > tr > th,.download-table > thead > tr > td,.download-table > tbody > tr > td,.download-table > tfoot > tr > td,.download-table > tbody td {
        border: none
    }

    .download-table > tbody td {
        border: none
    }

    td.download-table-last {
        text-align: center
    }
}

html {
    scroll-behavior: smooth
}
ul{
  list-style-type:none;
}
#scrollToTop {
    font-size: 1rem;
    color: #333;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    position: fixed;
    bottom: 10%;
    right: 0;
    min-width: 20px;
    text-align: center;
    padding: 0 5px 1px;
    opacity: 0;
    -webkit-animation: buttonFade .5s 1s 1 forwards;
    animation: buttonFade .5s 1s 1 forwards;
}

@media (max-width: 600px) {
    #scrollToTop span {
        display:none
    }
}

@-webkit-keyframes buttonFade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes buttonFade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.intro {
    margin-top: 140px;
    font-size: 38px;
    line-height: 1.2;
}

.intro h1 {
    font-size: inherit;
    margin-bottom: 15px;
}

.intro h1 + p {
    margin-top: 0
}

.intro span {
    color: #999;
    display: block
}

.has-side-nav aside {
    width: 200px;
    float: left;
    margin-top: 1.5em;
}

.has-side-nav aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.has-side-nav aside li {
    padding: .1em .5em
}

.has-side-nav aside a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px
}

.has-side-nav aside .active > a,.has-side-nav aside .active > a:hover {
    color: #333;
    background-color: #d9ebb3
}

.has-side-nav article {
    margin-left: 220px
}

@media screen and (max-width: 480px) {
    .has-side-nav aside {
        width:100%;
        float: none
    }

    .has-side-nav article {
        margin-left: 0;
    }

    .has-side-nav article pre {
        overflow-x: scroll
    }
}

.full-width {
    width: 100%
}

.small {
    font-size: 10px
}

.color-lightgray {
    color: #999
}

.no-padding {
    padding: 0
}

.pad-bottom-small {
    padding-bottom: 1em
}

.highlight-box {
    background-color: #f0f0f0;
    padding: 5px 15px;
    border-radius: 2px;
    margin-top: 1em;
}

.highlight-box *:first-child {
    margin-top: .5rem
}

.issue-link-container {
    clear: both;
    overflow: hidden;
}

.issue-link-container .linuxfoundation-logo {
    width: 60%;
    float: left
}

.issue-link-container .issue-link {
    width: 40%;
    float: right;
    text-align: right;
    margin-top: .5rem
}

@media screen and (max-width: 700px) {
    .issue-link-container .linuxfoundation-logo,.issue-link-container .issue-link {
        float:none;
        width: 100%;
        text-align: left
    }
}
