<h3>Students</h3>

<div class="row">
	<div class="col-sm-5">
		<div ng-model="updateLogin" ng-repeat="item in students | orderBy:'name' | orderBy:'loggedIn'">
			<p> 
				<!-- Display SignIn button if logged out -->
				<a ng-click="updateLoginStatus(item)" class="btn btn-small btn-success" ng-hide="item.loggedIn"> Sign In </a>

				<!-- Display LogOut button if signed In -->
				<a ng-click="updateLoginStatus(item)" class="btn btn-small btn-warning" ng-show="item.loggedIn">Log Out</a>

				<span class="name-display"> {{ " " + item.name }} is {{ item.loggedIn ? " In":" Out"}} </span>
			</p>
		</div>
	</div>
</div> 

<div class="row">
	<div class="col-sm-8">
		<a ui-sref="home" class="btn btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a>
		<a ui-sref="teachers" class="btn btn-info"> Teachers page </a>
	</div>
</div>

