<h3>View Current Student Login Status</h3>

<div class="row">
	<div class="col-sm-8">
		<h4 ng-show="loggedInStudents.length">Here: </h4>
		<h4 ng-hide="loggedInStudents.length">No Students currently Signed In </h4>	
		<ul ng-model="updateLogin">	
			<li ng-repeat="item in loggedInStudents = (students | filter:loggedIn=true)"> {{ item.name }} is Signed In </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h4 ng-show="loggedOutStudents.length">Not Here: </h4>
		<h4 ng-hide="loggedOutStudents.length">No Students currently Signed Out </h4>	
		<ul ng-model="updateLogin">	
			<li ng-repeat="item in loggedOutStudents = (students | filter:loggedIn=false)"> {{ item.name }} is Signed Out </li>
		</ul>
	</div>
</div> 

<div class="row">
	<div class="col-sm-5">
		<a ui-sref="home" class="btn btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span> Home </a>
		<a ui-sref="students" class="btn btn-info"> Students page </a>
	</div>
</div>