<!DOCTYPE html>
<html lang="en" ng-app="questionList">
<head>
  <meta charset="UTF-8">
  <title>Askr</title>
  <script src="lib/angular.js"></script>
  <script src="lib/angular-ui-router.js"></script>
  <script src="app.js"></script>
  <script src="controllers/QuestionsController.js"></script>
  <script src="controllers/AnswersController.js"></script>
  <script src="services/QuestionsFactory.js"></script>
  <script src="services/UtilitiesFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <div class="col-md-12" ng-model="indexCategories">
        <nav id="menu">
            <div class="row search-button-div">
                <a type="button" class="btn btn-small btn-primary search-button" ui-sref='search'>Askr Search</a>
                <input type="text" ng-model="query.text" class="form-control" placeholder="Search">
            </div>
            <ul class="list-divider-pipe">
                <li>
                    <a ui-sref="questions">Pool</a>
                </li>
                <li>
                    <a ui-sref="questions">Drums</a>
                </li>
                <li>
                    <a ui-sref="questions">Copy-Paste</a>
                </li>
                <li>
                    <a ui-sref="questions">Other1</a>
                </li>
                <li>
                    <a ui-sref="questions">Other2</a>
                </li>
                <li>
                    <a ui-sref="questions">Other3</a>
                </li>
                <li>
                    <a ui-sref="questions">Other4</a>
                </li>
            </ul>

        </nav>

    </div>
  </header>
  <div id="home-intro" class="well shadow">
    <div ui-view>

    </div>
  </div>
</body>
</html>
